<div class="container">
  <h2>My Reported Issues</h2>

  <div *ngIf="myIssues.length === 0" class="no-issues">
    <p>No issues reported yet.</p>
  </div>

  <div class="issue-list">
    <div class="issue-card" *ngFor="let issue of myIssues">
      <h3>{{ issue.title }}</h3>
      <p>{{ issue.description }}</p>
      <p><strong>Category:</strong> {{ issue.category }}</p>
      <p><strong>Location:</strong> {{ issue.location }}</p>
      <p><strong>Status:</strong> 
        <span [class.pending]="issue.status === 'Pending'" 
              [class.resolved]="issue.status === 'Resolved'">
          {{ issue.status }}
        </span>
      </p>
      <div class="buttons">

        <button *ngIf="selectedIssue.status === 'Resolved'" (click)="reopenIssue(selectedIssue._id)">
          Reopen
        </button>
        <button class="edit-btn" (click)="openEditModal(issue)">Edit</button>
        <button class="delete-btn" (click)="deleteIssue(issue._id)">Delete</button>
      </div>
    </div>
  </div>

  
  <div class="modal-overlay" *ngIf="showEditModal">
    <div class="modal-content">
      <h2>Edit Issue</h2>

      <label>Title:</label>
      <input [(ngModel)]="selectedIssue.title" type="text">

      <label>Description:</label>
      <textarea [(ngModel)]="selectedIssue.description"></textarea>

      <label>Category:</label>
      <input [(ngModel)]="selectedIssue.category" type="text">

      <label>Location:</label>
      <input [(ngModel)]="selectedIssue.location" type="text">

      <div class="modal-buttons">
        
        
        <button class="save-btn" (click)="updateIssue()">Save Changes</button>
        <button class="close-btn" (click)="showEditModal = false">Cancel</button>
      </div>
    </div>
  </div>
</div>
